{% extends 'base.html' %}
{% load static i18n  %}
{% block title %}{% trans 'Blog' %}{% endblock %}
{% block additional_css %}

{% endblock %}
{% block content %}

			<div class="container">
				<div class="row">
					<main class="col-md-12">
{#						<h1 class="page-title">About Me</h1>#}
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">

								</figure>
								 <p>Hello, my name is <strong>Otabek Davronov</strong>, and I am a passionate software developer and business analyst with an extensive background in finance. I graduated with a degree in <em>International Economic Relations</em> from the prestigious University of World Economy and Diplomacy.</p>

    <p>I have had the opportunity to combine my skills in finance and technology over the years, building a diverse and impactful career. As a Finance Manager, I was responsible for budgeting, cost control, financial planning, and market analysis. At Artel Electronics, I was at the heart of managing cash flow, pricing strategies, and crafting financial reports that directly contributed to the company’s long-term success. I also played a crucial role in an important COVID-19-related project, overseeing the financial aspects of constructing containers for patients, ensuring efficient cost estimations during a time of unprecedented global uncertainty.</p>

    <p><em>Transitioning</em> to the tech world, I now apply my finance knowledge in a business analyst and programming role on a government project aimed at automating financial processes. My expertise in Python, Django, and fintech solutions empowers me to develop automated systems that increase efficiency, accuracy, and contribute to better financial decision-making.</p>

    <p><strong><em>Skills:</em></strong></p>
    <ul>
        <li>Financial Management: Budgeting, financial planning, cash flow management</li>
        <li>Technical Skills: Python, Django, SQL, JavaScript</li>
        <li>Problem Solving: Streamlining processes, automation, and improving accuracy</li>
    </ul>

    <p>I am always looking for new opportunities to innovate, optimize, and contribute to businesses at the intersection of finance and technology.</p>
<h3 style="color: #3498DB;">Connect with Me on Telegram</h3>
    <p>If you'd like to connect with me, discuss opportunities, or chat about finance, technology, and more, feel free to reach out via my <a href="https://t.me/Otabek33" target="_blank" style="color: #2980B9; text-decoration: none;">Telegram profile</a>.</p>

							</div>
						</article>
					</main>
				</div>
			</div>



{% endblock %}
